extends ../../layout.pug

block content

  h1 Clinician: #{clinician.name}
  
  div

  p #[strong clinician:] 
    a(href=book.clinician.url) #{clinician.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each val, client in client.list
      a(href=val.url) #{val.name}
      if index < client.length - 1
        |, 

    hr
    p
    a(href=clinician.url+'/delete') Delete clinician
    hr
    p
    a(href=clinician.url+'/update') Update clinician