extends ../../../layout.pug

block content

  h1 Client: #{clent.name}
  
  div

  p #[strong DOB:] #{dob}

    p
    a(href=clinician.url+'/delete') Delete Client
    p
    a(href=clinician.url+'/update') Update Client
    p
    a(href=clinician.url+'/update') Reports
    p
    a(href=clinician.url+'/update') Start Session