extends ../../../../layout.pug

block content
    .main.container
        h1 #{client.name} Session Report #{session[0].day}
        .row
            .col-md-6.col-md-offset-3
                div(class="container")  
                    for formsession in formsessions
                        h4 Form: #{formsession.form_id}
                        h4 Correct: #{formsession.correct}
                        h4 Incorrect: #{formsession.incorrect}
                        h4 Partial: #{formsession.kinda}
                        h4 Total Opportunities: #{formsession.total}